.statusContainer {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.circleStatus {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.statusContainer span {
  color: #B4D5E3;
}

.on {
  background-color: greenyellow;
}

.off {
  background-color: rgb(134, 134, 134);
}