.statusContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.circleStatus {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.statusContainer span {
  color: #B4D5E3;
}

.alive {
  background-color: rgb(85, 204, 68);
}

.dead {
  background-color: rgb(214, 61, 46);
}
.unknown {
  background-color: rgb(158, 158, 158);
}